Ouvaton
site
Pythonlogy/dist
Pythonlogy/build
Pythonlogy/draft
Coffeelogy/bower_components
Coffeelogy/node_modules
Scalogy/project
Scalogy/target
Scalogy/src/main/target
.*pyc
.class
.so
*local.ns
*local.0
*Thing.0
*Sums.0
*Modulus.0
